.place {
  margin: 0 0 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width:1024px) {
  .place{
    gap: 48px 32px;
  }
}

@media screen and (max-width:768px) {
  .place{
    max-height: 581px;
    margin-bottom: 73px;
    gap: 48px 16px;
  }
}

@media screen and (max-width: 425px) {
  .place{
    grid-template-columns: auto;
    max-height: 5177px;
    margin-bottom: 50px;
    gap: 32px;
  }
}