.place__website {
  align-self: end;
  justify-self: start;
  margin: 0;
  padding: 0;
  max-width: 456px;
  width: auto;
  height: 46px;
}

@media screen and (max-width: 425px){
  .place__website{
    margin-left: 16px;
    width: auto;
  }
}